
<!doctype html>
{% load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title%}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
 </head>
<!--style="background-image: url('{% static "images/bike.jpg"%}')"&ndash;&gt;-->
  <body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"
  >

    <a class="navbar-brand fs-2 fw-bold" href="#">Vehicle Rental System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav ms-auto fs-4 fw-bold navbar-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
       
       
        {% if user.is_authenticated %}
       <ul class="nav nav-tabs">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> welcome {{request.user}}</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
        </ul>
       
        {% else %}
         <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
         Login
        </button>
        <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#singupModal">
          Singup
        </button>

         {% endif %}

      </ul>
    </div>
 </nav>
 {% for message in messages %}
 <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>message:  </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
 
 {% block usercontent %}
 			<div class="container">
 				<div class="row">
 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/bike.jpg'%}" class="card-img-top" alt="...">
							  
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							    <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>

 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/8.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							     <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>

 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/2.jpeg'%}" class="card-img-top" alt="...">
							  
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							     <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>

 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/3.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							    <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>

 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/4.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							   <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
						 <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>

 					<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/5.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							   <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							     <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>
 						<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/5.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							   <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							     <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>
 						<div class="col-3">
							 <div class="card" style="width: 18rem;">
							  <img src="{% static 'images/5.jpeg'%}" class="card-img-top" alt="...">
							 
							  <ul class="list-group list-group-flush">
							   <li class="list-group-item">Name: Bullet</li>
							    <li class="list-group-item">company: Royal enfield</li>
							    <li class="list-group-item">Price per day: $Rs 200/</li>
							  </ul>
							  <div class="card-body">
							     <a href="#" class="btn btn-primary">Book</a>
							  </div>
							</div>
 					</div>



 					
 					<div class="col-3">
 						
 					</div>
 					<div class="col-3">
 							
 					</div>
 					<div class="col-3">
 						
 					</div>
 				</div>
 				
 			</div>
    {% endblock usercontent %}

<!--  

<footer class="container-fluid bg-dark text-white mt-5" >
  <div class="container">
    <div class="row py-3">
      <div class="col-md-6">
        <div>
          <span>follow us</span>
          <a href="#"><i class="fab fa-facebook px-3"></i></a>
           <a href="#"><i class="fab fa-twitter pr-3"></i></a>
            <a href="#"><i class="fab fa-youtube pr-3"></i></a>
             <a href="#"><i class="fab fa-google-plus-g pr-3"></i></a>
              <a href="#"><i class="fab fa-rss pr-3"></i></a>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <small>Designed by <a href="#">Girish</a>&copy;2021</small>
      </div>
    </div>
  </div>
</footer> -->



<!-- Singup Modal -->
<div class="modal fade" id="singupModal" tabindex="-1" aria-labelledby="singupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="singupModalTitle">Singup Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                <form action="/signup" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                             <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                       </div>

                        <div class="form-group">
                             <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="first name" required>
                       </div>

                        <div class="form-group">
                             <label for="lname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="last name" required>
                       </div>

                      <div class="form-group">
                             <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                       </div>

                        <div class="form-group">
                             <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="enter your passwordd" required>
                       </div>
                        <div class="form-group">
                             <label for="cpassword" class="form-label"> Confirm Password</label>
                            <input type="cpassword" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm passwordd" required>
                       </div>
                       <button type="submit" class="btn btn-primary">Submit</button>
                </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                <form action="/login" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                             <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="username">
                       </div>

                 <div class="form-group">
                             <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="enter your passwordd">
                       </div>
                      
                       <button type="submit" class="btn btn-primary">Submit</button>
                </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>














